In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
%matplotlib inline
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [2]:
os.chdir(r"C:\myPyCode2\01 Python 분석 기초 - 실습\data")

In [16]:
df = pd.read_csv('data_population.csv', header='infer',encoding = 'ms949', na_values=[' '])

In [17]:
headers = df.columns
headers

Index(['Unnamed: 0', 'Province', 'City', 'Population', 'Households',
       'PersInHou', 'Male', 'Female', 'GenderRatio'],
      dtype='object')

# Task
1. `data_population.csv`를 불러온다., 읽어올 때 빈 셀은 결측치(`NaN`)로 인식한다.
   * HINT `na_values` 인자
2. 도별로 인구를 합계한다(`sum`)
   * `groupby` 메서드
   * `pivot_table`

------
## 결측치 제거하는 법

In [23]:
# 처리전 정상값 집계.
df.count()

Unnamed: 0     281
Province       281
City           263
Population     281
Households     281
PersInHou      281
Male           281
Female         281
GenderRatio    281
dtype: int64

In [24]:
# 결측치 포함된 행 제거.
df=df.dropna(axis=0)

In [25]:
# 처리후 정상값 집계.
df.count()

Unnamed: 0     263
Province       263
City           263
Population     263
Households     263
PersInHou      263
Male           263
Female         263
GenderRatio    263
dtype: int64

- - - - - -

In [26]:
df.groupby('Province')['Population'].sum()

Province
강원도         1547166
경기도        18723822
경상남도        4428762
경상북도        3215695
광주광역시       1476974
대구광역시       2491137
대전광역시       1525656
부산광역시       3517491
서울특별시      10078850
울산광역시       1169768
인천광역시       2914271
전라남도        1902638
전라북도        2523806
제주특별자치도      615250
충청남도        2671383
충청북도        2414568
Name: Population, dtype: int64

In [27]:
df.pivot_table(index = 'Province',
              values = 'Population',
              aggfunc = np.sum)

          Population
Province
강원도          1547166
경기도         18723822
경상남도         4428762
경상북도         3215695
광주광역시        1476974
대구광역시        2491137
대전광역시        1525656
부산광역시        3517491
서울특별시       10078850
울산광역시        1169768
인천광역시        2914271
전라남도         1902638
전라북도         2523806
제주특별자치도       615250
충청남도         2671383
충청북도         2414568

In [28]:
df.pivot_table(columns = 'Province',
              values = 'Population',
              aggfunc = np.sum)

Province,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,울산광역시,인천광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도
Population,1547166,18723822,4428762,3215695,1476974,2491137,1525656,3517491,10078850,1169768,2914271,1902638,2523806,615250,2671383,2414568