In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
%matplotlib inline
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [2]:
os.chdir(r"C:\myPyCode2\01 Python 분석 기초 - 실습\data")

In [3]:
df = pd.read_csv('data_studentlist_en.csv', header='infer',encoding = 'ms949', na_values=[' '])

In [4]:
headers = df.columns
headers

Index(['name', 'gender', 'age', 'grade', 'absence', 'bloodtype', 'height',
       'weight'],
      dtype='object')

In [6]:
df.groupby('bloodtype').height.mean()

bloodtype
A     169.075
AB    177.400
B     171.280
O     165.140
Name: height, dtype: float64

In [9]:
df.groupby('bloodtype')['height'].mean()

bloodtype
A     169.075
AB    177.400
B     171.280
O     165.140
Name: height, dtype: float64

------

In [10]:
# 세로 방향으로.
df.pivot_table(index = 'bloodtype', values = 'height', aggfunc=np.mean)

            height
bloodtype
A          169.075
AB         177.400
B          171.280
O          165.140

In [11]:
# 가로 방향으로.
df.pivot_table(columns = 'bloodtype', values = 'height', aggfunc=np.mean)

bloodtype        A     AB       B       O
height     169.075  177.4  171.28  165.14