### Pandas 시리즈

In [1]:
import pandas as pd
import numpy as np

#### 시리스 신규 생성:

In [2]:
my_index = ['a','b','c']
my_values = [222,333,444]
my_dict = {'a':222, 'b':333, 'c':444}
my_arr = np.array(my_values)

In [3]:
# 값을 넣어서 생성.
pd.Series(my_values)

0    222
1    333
2    444
dtype: int64

In [4]:
# 값과 index를 넣어서 생성.
pd.Series(data=my_values, index=my_index)

a    222
b    333
c    444
dtype: int64

In [5]:
# Numpy 배열기반.
pd.Series(my_arr)

0    222
1    333
2    444
dtype: int32

In [6]:
# Numpy 배열기반, index를 넣어서 생성.
pd.Series(my_arr, index=my_index)

a    222
b    333
c    444
dtype: int32

In [7]:
# 딕셔너리 기반.
pd.Series(my_dict)

a    222
b    333
c    444
dtype: int64

#### 시리즈 인덱싱:

In [8]:
s = pd.Series(data=[111,222,333,444], index = ['a','b','c','d'], name='MySeries')
s

a    111
b    222
c    333
d    444
Name: MySeries, dtype: int64

In [9]:
s.index                                   # 인덱스 출력.

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
s.name                                    # 이름 출력.

'MySeries'

In [11]:
s.dtype                                   # 자료형 출력.

dtype('int64')

In [12]:
s.values                                  # 자료를 Numpy 배열로 출력.

array([111, 222, 333, 444], dtype=int64)

In [13]:
s[1]

222

In [14]:
s['a']

111

In [15]:
s[2:4]

c    333
d    444
Name: MySeries, dtype: int64

In [16]:
s[['a','d']]

a    111
d    444
Name: MySeries, dtype: int64

------

In [27]:
a = pd.Series(['A','B','O','AB'])

In [28]:
a.unique()

array(['A', 'B', 'O', 'AB'], dtype=object)

In [29]:
a.nunique()

4

#### 시리즈 사이의 연산:

In [ ]:
s1 = pd.Series(data=[1,2,3,4], index = ['d','b','c','a'])
s2 = pd.Series(data=[1,2,3,4], index = ['a','b','d','e'])

In [ ]:
s1*2

In [ ]:
s1 + 100

In [ ]:
s1 + s2

In [ ]:
s1 - s2

In [ ]:
s1 * s2

In [ ]:
s1/s2

#### 시리즈 통계연산:

In [ ]:
s1.sum()

In [ ]:
s1.mean()

In [ ]:
s1.median()

In [ ]:
s1.max()

In [ ]:
s1.std()

In [ ]:
s1.sort_values()

In [ ]:
s1.sort_index()