### 다음 물음에 답하시오:

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
%matplotlib inline
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

#### 데이터 프레임을 읽어 옵니다:

In [2]:
os.chdir(r"C:\myPyCode2\01 Python 분석 기초 - 실습\data")

In [3]:
df = pd.read_csv('data_population.csv', header='infer',encoding = 'ms949')

In [4]:
df.shape

(281, 9)

In [5]:
df.head(3)

,Unnamed: 0,Province,City,Population,Households,PersInHou,Male,Female,GenderRatio
0,1,서울특별시,,10078850,4197478,2.40,4962774,5116076,0.97
1,2,서울특별시,종로구,155695,72882,2.14,76962,78733,0.98
2,3,서울특별시,중구,126817,59614,2.13,63292,63525,1.00

#### 다음 통계치를 구하시오:

1). 경상남도의 인구를 집계 하시오:

In [12]:
df[df.Province=='경상남도'].Population.sum()

7785302

2). 경상북도의 인구를 집계 하시오:

In [13]:
df[df.Province=='경상북도'].Population.sum()

5913486

3). 경상남도와 경상북도의 인구를 동시에 집계 하시오:

In [15]:
df[(df.Province=='경상남도')|(df.Province=='경상북도')].Population.sum()

13698788

4). 성비 기준으로 남자가 상대적으로 많은 도시 (GenderRatio >1)의 평균 인구를 구하시오:

In [16]:
df[df.GenderRatio>1].Population.mean()

419221.2076923077

5). 성비 기준으로 남자가 상대적으로 적은 도시 (GenderRatio <1)의 평균 인구를 구하시오:

In [17]:
df[df.GenderRatio<1].Population.mean()

394085.1074380165

6). 성비 기준으로 남자가 적고 **(GenderRatio < 1)** 가족인원수가 2인 이상 **(PersInHou >= 2)** 도시를 찾으시오:

In [19]:
df[(df.GenderRatio<1)&(df.PersInHou>=2)].City

0
1      종로구
3      용산구
4      성동구
5      광진구
       ...
273    하동군
274    산청군
275    함양군
276    거창군
277    합천군
Name: City, Length: 116, dtype: object

7). 가구수 (Households) 적은 순서대로 정렬하여 10개의 도시를 보여주어라:

**`sort_values`**

In [27]:
df.sort_values(by='Households').City.head(10)

253    울릉군
244    영양군
200    장수군
150    양구군
62     옹진군
199    무주군
241    군위군
213    구례군
198    진안군
243    청송군
Name: City, dtype: object